[data-theme="light"] {
  --primary-background-color: #242424;
  background-color: #242424 !important;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  width: auto;
  height: 150px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

login-page,
register-page {
  h4 {
    font-family: "Libre Caslon Text";
    font-style: italic;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin: 20px;
  }
}

login-page,
register-page {
  background-image: url("/assets/image/4451074-online-messaging-isometric-color-vector-illustration-person-social-network-profile-chatting-like-website-3d-concept-socializing-infografico-webpage-mobile-app-design-vetor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: 0;
  background-color: #8b3dff;
}

button:hover {
  background-color: #9c60f6;
}
