[data-theme="light"] {
  --primary-background-color: #242424;
  background-color: #242424 !important;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  width: auto;
  height: 150px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

login-page,
register-page {
  h4 {
    font-family: "Libre Caslon Text";
    font-style: italic;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin: 20px;
  }
}

login-page,
register-page {
  height: 100vh;
  z-index: 0;
  background-color: #ffffff;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .background {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-image: url("/assets/image/oie_mf5cmVkI4GAK.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    //margin: 50px;
    // posicao da image no background
    position: absolute;
    top: 5px;
    left: -85px;
  }
}

button {
  border: 0;
  background-color: #8b3dff;
  padding: 5px;
}

button:hover {
  background-color: #9c60f6;
}

.tag {
  cursor: pointer;
  padding: 7px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.tag:hover {
  opacity: 0.8;
}

.tag-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  max-width: 800px;
  margin: 0 auto;
}

.tag-pop {
  max-height: 40px;
  //background-color: "red";
  border-radius: 10px;
  background-color: none;
  padding: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.album-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  overflow: auto;
}

.album-item {
  display: flex;
  overflow: hidden;
  position: relative;
  min-height: 100px;
  min-width: 100px;
  border: 1px solid #e0e0e0;
  transition: transform 0.3s ease;
}

.album-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.album-item:hover .album-close {
  display: block;
}

.album-close {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}

.album-close:hover {
  transform: scale(1.2); /* Slight zoom on hover */
}

list-element ul li {
  margin: 0;
  padding: 0;
}

//display: "flex", width: "100%", flexDirection: "row", height: "100px", alignItems: "center", justifyContent: "flex-start", padding: "10px", borderRadius: "5px", backgroundColor: "yellow"

.user-message-view {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 100px;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0c7;
}

.user-message-view:hover {
  background-color: #e0e0e0 !important;
  .btn-send {
    cursor: pointer;
    visibility: visible !important;
  }
}

.user-message-view .btn {
  cursor: pointer;
  opacity: 1;
}

.user-message-view .btn:hover {
  opacity: 0.4;
}

.btn-send:hover {
  opacity: 0.6;
}

.btn-send {
  width: 70px;
  height: 50px;
  border-radius: 0px;
  visibility: hidden;
  margin: auto;
  margin-right: 5px;
}

.message-list {
  width: 100%;
  height: -webkit-fill-available !important;
}

.message-item {
  word-wrap: break-word; /* Permite que o texto seja quebrado */
  overflow-wrap: break-word; /* Versão mais moderna para quebrar o texto */
  white-space: normal; /* Permite a quebra de linha no texto */
}

.settings {
  background-color: white;
}